frontend/.vercel
frontend/prempredict/.env
frontend/prempredict/.venv

predictionmodel/.env
predictionmodel/.venv

frontend/staticfiles_build

frontend/prempredict/__pycache__
frontend/prempredict/types/__pycache__
frontend/prempredict/migrations/__pycache__

frontend/prempredict/tests/__pycache__
frontend/prempredict/tests/template-routes/__pycache__
frontend/prempredict/tests/api-routes/__pycache__
frontend/prempredict/tests/models/__pycache__
frontend/prempredict/tests/functions/__pycache__

frontend/prempredict/views/__pycache__
frontend/prempredict/views/api/__pycache__
frontend/prempredict/views/functions/__pycache__
frontend/prempredict/views/load/__pycache__

predictionmodel/process/__pycache__
predictionmodel/regression/__pycache__
predictionmodel/playground/__pycache__

.vercel
/predictionmodel/models/ag
/predictionmodel/models/ftr
/predictionmodel/models/hg
