{% extends "base.html" %}

{% block title %}PremPredict - Login{% endblock %}

{% block content %}
    <script>
        function DemoLogin() {
            var usernameInput = document.getElementById("username");
            var passwordInput = document.getElementById("password");
            var submitButton = document.getElementById("loginsubmit");
            if (usernameInput && passwordInput && submitButton) {
                usernameInput.value = "testing";
                passwordInput.value = "testing";
                submitButton.click();
            } else {
                console.error("One or more login elements not found.");
            }
        }
    </script>
    <section class="">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
            <div class="w-full bg-slate-950 text-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight md:text-2xl">
                        Login to your account
                    </h1>
                    <form class="space-y-4 md:space-y-6 text-gray-300" action="/login/" method="POST">
                        {% csrf_token %}
                        <div>
                            <label for="username" class="block mb-2 text-sm font-medium">Username</label>
                            <input type="username" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="username" required="">
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium">Password</label>
                            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                        </div>
                        {% if error %}
                            <p class="text-red-500 font-semibold text-md">{{ error }}</p>
                        {% endif %}
                        <button id="loginsubmit" type="submit" class="w-full bg-gray-800 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Sign in</button>
                        <a href="#" class="text-sm font-medium hover:underline">Forgot password?</a>
                        <p class="text-sm font-light">
                            Don’t have an account yet? <a href="/signup" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign up</a>
                        </p>

                    </form>
                    <button onclick="DemoLogin()" class="w-full bg-blue-500 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Demo User</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
